<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MedixHub"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppwriteStarterKit"
        tools:targetApi="31">

        <!-- 🟢 Main Entry Point -->
        <activity
            android:name=".landing_page"
            android:exported="true"
            android:theme="@style/Theme.AppwriteStarterKit"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".Login" android:exported="false" />
        <activity android:name=".Register" android:exported="false" />
        <activity android:name=".Doctors" android:exported="false" />
        <activity android:name=".book_apointment" android:exported="false" />
        <activity android:name=".payment" android:exported="false" />

    </application>

</manifest>
